body{
	font-family: system-ui;
	margin: auto;
	width:80%;
	background-color: #333;
	color: #fff;
}


header{
	text-align: center;
}

main{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	margin: auto;
	/* grid-gap: 1%; */
	box-shadow: #000 20px 20px 30px 20px;
}

main > div{
	border: 1px solid #fff;
	margin:8px;
	text-align: center;
	padding: 1rem;
	padding-right: 10px;
	padding-left: 10px;
	background-color: rgb(0, 0, 0);
	padding-top: 30px;
	padding-bottom: 30px;
}

main > div:hover{
	cursor:pointer;
}

#C{
	color: #fff;
	background-color: hsl(8, 79%, 37%);
}

.signs{
	background-color: #333;
}

#zero{
	grid-column:1/5;
	border-top: #333;
	border-left: #333;
	border-right: #333;
	text-align: right;
	background-color: hsl(224, 15%, 19%);
}

#zero:hover{
	cursor: text;
}